
@model CourseIndexViewModel


<section>
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewData["Success"]?.ToString()))
        {
            <div class="alert-success">@ViewData["Success"]</div>
        }
        @if (!string.IsNullOrEmpty(ViewData["Error"]?.ToString()))
        {
            <div class="alert-danger">@ViewData["Error"]</div>
        }
        <h1>@ViewData["Title"]</h1>

        <form asp-action="UpdateCourse" asp-controller="Admin" method="post">
            <div>
                <input asp-for="UpdateDto.OldTitle" value="@Model.UpdateDto!.OldTitle" hidden/>
            </div>
            <div>
                <label asp-for="UpdateDto.Title">Title</label>
                <label>@Model.Course.Title</label>
                <input asp-for="UpdateDto.Title" />
            </div>
            <div>
                <label asp-for="UpdateDto.Price">Price</label>
                <label>@Model.Course.Price</label>
                <input asp-for="UpdateDto.Price" />
            </div>
            <div>
                <label asp-for="UpdateDto.DiscountPrice">Discount price</label>
                <label>@Model.Course.DiscountPrice</label>
                <input asp-for="UpdateDto.DiscountPrice" />
            </div>
            <div>
                <label asp-for="UpdateDto.Creator">Creator</label>
                <label>@Model.Course.Creator</label>
                <input asp-for="UpdateDto.Creator" />
            </div>
            <div>
                <label asp-for="UpdateDto.LikeParameter">Likes in Procent (e.g 0,91)</label>
                <label>@Model.Course.LikeParameter</label>
                <input asp-for="UpdateDto.LikeParameter" />
            </div>
            <div>
                <label asp-for="UpdateDto.UserVotes">Likes in Numbers (e.g 2100)</label>
                <label>@Model.Course.UserVotes</label>
                <input asp-for="UpdateDto.UserVotes" />
            </div>
            <div>
                <label asp-for="UpdateDto.EstimatedHours">Hours</label>
                <label>@Model.Course.EstimatedHours</label>
                <input asp-for="UpdateDto.EstimatedHours" />
            </div>
            <div>
                <label asp-for="UpdateDto.IsDigital">Is digital</label>
                <label>@Model.Course.IsDigital</label>
                <input type="checkbox" asp-for="UpdateDto.IsDigital" />
            </div>
            <div>
                <label asp-for="UpdateDto.IsBestSeller">Is bestseller</label>
                <label>@Model.Course.IsBestSeller</label>
                <input type="checkbox" asp-for="UpdateDto.IsBestSeller" />
            </div>
            <div>
                <label asp-for="UpdateDto.ImageName">Image Name (.svg)</label>
                <label>@Model.Course.ImageName</label>
                <input asp-for="UpdateDto.ImageName" />
            </div>
            <div>
                <label asp-for="UpdateDto.BigImageName">Big Image Name (.svg)</label>
                <label>@Model.Course.BigImageName</label>
                <input asp-for="UpdateDto.BigImageName" />
            </div>
            <button type="submit">Update course</button>
        </form>
    </div>
</section>
